.Grid-1{
    display: grid;
    grid-template-columns: 200px 75px;
    height: 40px;
}

.Grid-2 {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    height: 40px;
}

.Grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    height: 90px;
}

p{
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 10px;
    color: red;

}


h2 {
    text-align: center;
    background-color: yellow;

}