body{
    font-family:'Poppins',sans-serif;
    margin: 0;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  #main-menu{
    background: #1b1464;
  }

  #main-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  #main-menu ul li{
    display: inline-block;
    position: relative;
  }

  #main-menu li a{
    display: block;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
  }

  #main-menu li a:hover{
    background: #0652dd;
  }

  /* Dropdown Menu Style */
#main-menu ul ul{
    position: absolute;
    left:0;
    top: 42px;
    background: #5758bb;
    display: none;
    width: 84px;
    z-index: 999;
}

 #main-menu ul ul li{
    display: block;
  }
  
  #main-menu ul li:hover ul{
    display: block;
  }
  
  #main-menu ul li:hover a{
    background: #0652dd;
  }

  #main-menu ul li:hover li a{
    background: #5758bb;
  }

  #main-menu ul ul li a:hover{
    background: #192a56;
  }